{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ author.user.last_name }}, {{ author.user.first_name}} {% endblock title %}</h1>
        <p class=" text-muted">{{ author.bio }}</p>
        <h2>Posts:</h2>
        {% for post in author.blog_posts.all %}
        <h5>{{post.title}}</h5>
        {% endfor %}

      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>

{% endblock content %}